[submodule "CVND-Facial-Keypoint-Detection"]
	path = CVND-Facial-Keypoint-Detection
	url = https://github.com/Michael-Tu/CVND-Facial-Keypoint-Detection.git
[submodule "CVND-Automatic-Image-Captioning"]
	path = CVND-Automatic-Image-Captioning
	url = https://github.com/Michael-Tu/CVND-Automatic-Image-Captioning.git
[submodule "CVND-Graph-SLAM"]
	path = CVND-Graph-SLAM
	url = https://github.com/Michael-Tu/CVND-Graph-SLAM.git
